@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'sans-serif';
}

.grid {
    display: grid;
    grid-template-columns: 100px 65% 20%;
    grid-template-rows: 250px 270px;
    gap: 30px;
    grid-template-areas:
        'sidebar'
        'activities'
        'forecast'
        'conditions';
}

.sidebar {
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #deab4d;
    border-radius: 40px;
}
.activities {
    grid-area: activities;

    display: flex;
    flex-direction: column;
    gap: 30px;
    background: #deab4d;
    padding: 20px 55px 0px 55px;
    border-radius: 40px;
}
.activities ul::-webkit-scrollbar {
    height: 5px;
}
.activities ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.activities ul::-webkit-scrollbar-thumb {
    background: #888;
}
.activities ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.forecast {
    grid-area: forecast;

    background: #deab4d;
    border-radius: 40px;
}
.conditions {
    grid-area: conditions;

    background: #deab4d;
    padding: 34px 0;
    border-radius: 40px;
}

@media (min-width: 1024px) {
    .grid {
        grid-template-areas:
            'sidebar activities conditions'
            'sidebar forecast conditions';
    }
}

@media (min-width: 1536px) {
    .grid {
        grid-template-columns: 100px 65% 25%;
    }
}
